<!DOCTYPE html>
<html lang="pt-br">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:wght@700&display=swap"
    rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/images/simbolo.svg" type="image/x-icon">
  <link rel="stylesheet" href="/assets/styles/global.css">
  <link rel="stylesheet" href="/assets/styles/header.css">
  <link rel="stylesheet" href="/assets/styles/search-results.css">
  <title>Lista de pontos cadastrados | Ecoleta</title>
</head>

<body>



  <div class="background">
    <div class="content-wrapper">
      <header class="header">
        <a class="header__logoLink" href="/">
          <img class="header__logoImage" src="assets/images/logo.svg" alt="Logo ecoleta">
        </a>
        <a class="header__registerLink header__registerWrapper" href="/">
          <span class="header__registerIcon"></span>
          Voltar para home
        </a>
      </header>

      <main class="searchResults">
        <h2 class="searchResults__title"><%= placesCount %>
          <%= placesCount == 1 ? "Ponto encontrado" : "Pontos encontrados" %>
        </h2>

        <ul class="searchResults__list">

          <% if (placesCount > 0) { %>
          <% places.forEach(place => { %>
          <li class="searchResults__item">
            <img class="searchResults__image" src="<%= place.image %>" alt="<%= place.name %>">
            <span class="searchResults__itemTitle"><%= place.name %></span>
            <span class="searchResults__colectItems"><%= place.items %></span>
            <span class="searchResults__address">
              <%= place.city %>, <%= place.state %> <br />
              <%= place.address_street %> <br />
              Nº <%= place.address_number %> <br />
            </span>
          </li>
          <% }) %>
          <% } %>

        </ul>
        <% if (placesCount == 0) { %>
        <h2 class="searchResults__title searchResults__title--message text_center">Nenhum local cadastrado!</h2>
        <% } %>
      </main>

    </div>
  </div>
</body>

</html>